{% if acl is defined -%}
{% for name, definition in acl.items() -%}
ip access-list {{ name }}
 {% for entry in definition -%}
 {{ entry }}
 {% endfor %}
{% endfor %}
{% endif %}
{% if acl["MGMT_ACL"] is defined %}
line vty
  exec-timeout 0
  access-class MGMT_ACL in
{% endif %}
